div[data-tab="Guide_to_food"],
div[data-tab="Guide_to_drinks"] {
  @import "../utils/tooltips.scss";

  .tgh-btab td:nth-child(2) {
    padding: 0;
  }

  .recipe-ext,
  .junk-ext {
    td:first-child {
      width: 50%;
    }
  }

  .junk-ext {
    td:last-child {
      padding: 0.5rem;
    }
  }

  .drink-ext,
  .junk-ext,
  .food-base-ext,
  .book-ext,
  .recipe-ext {
    p {
      font-size: 9pt;
    }
  }

  .book-ext,
  .drink-ext,
  .junk-ext,
  .recipe-ext {
    td:nth-child(2) {
      width: 30%;
      max-width: 300px;
      text-align: center;
    }
  }

  .drink-ext,
  .junk-ext {
    .strength {
      font-size: 9pt;
      &:before {
        content: "Strength: ";
        font-weight: bold;
      }
    }
    .description,
    .notes {
      margin: 10pt 0;
      line-height: 1.5em;
    }
    td:nth-child(2) {
      text-align: left;
    }
  }

  .food-base-ext {
    td:nth-child(1) {
      width: 30%;
      max-width: 300px;
      text-align: center;
    }
    .food-pic {
      float: none;
      min-width: 64px;
      min-height: 64px;
      display: inline-block;
    }
    .food-block {
      display: flex;
      align-items: center;
    }
    td:nth-child(2) {
      padding: 5pt;
      font-size: 9pt;
    }
  }

  .book-ext {
    .description,
    .notes {
      margin: 10pt 0;
      line-height: 1.5em;
    }
    .unlocks {
      &:before {
        content: "Unlocks: ";
        font-weight: bold;
      }
    }
  }

  .recipe-ext {
    td:nth-child(2) {
      text-align: left;
    }
    .notes {
      margin: 10pt 0;
      line-height: 1.5em;
    }
  }
}
