$max-width: 960px;

.bgus_hidden {
  display: none !important;
}
.bgus_nobreak {
  white-space: nowrap;
}

.page ul,
.page ol {
  padding-left: 25pt;
  li {
    margin-top: 0.6em;
    padding-right: 8pt;
  }
  ul,
  ol {
    padding-left: 12pt;
  }
}

.disease-ext {
  p {
    font-size: 8pt;
    font-weight: 300;
    line-height: 1.4em;
    word-spacing: -0.1em;
  }
}

.thumbinner {
  width: 100% !important;
}

.page {
  h1.pageheader {
    margin:auto;
    padding: 15pt 10pt;
    position:relative;
  }

  img {
    vertical-align: middle;
  }

  p,
  h2,
  h3,
  h4 {
    padding-left: 10pt;
    padding-right: 10pt;
  }
  a[href] {
    color: white;
  }
  h1,
  h2,
  h3 {
    position: sticky;
    top: 0;
    background: $nanotrasen;
    padding: 10pt;
    z-index: 999;
    max-width: $max-width;
    &:before {
      display: block;
      content: " ";
      left: -100%;
      right: calc((960px - 100vw) / 2 + 10px);
      top: 0;
      height: 100%;
      position: absolute;
      z-index: -99;
      background: $nanotrasen;
    }
  }
  .mw-headline {
    display: flex;
    align-items: center;
  }
}

.page:not(.special) img {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

.wrapper {
  margin: 0 auto;
  max-width: $max-width;
}
