div[data-tab="Infections"] {
    .disease-ext,
    .symptoms-ext {
        width: 100%;
        th,
        td:first-child {
            background-color: #2f4257;
        }
        .disease-name {
            font-size: 12pt;
            text-align: left;
            padding: 10pt;
            padding-bottom: 0;
            margin-bottom: 10pt;
        }
        p {
            font-size: 8pt;
            font-weight: 300;
            line-height: 1.2em;
            word-spacing: -0.1em;
            margin: 5pt 0;
        }

        .bgus_fz_selected {
            background: $nanotrasen !important;
            th,
            td {
                border-top: 2px solid lighten($nanotrasen, 20%);
                border-bottom: 2px solid lighten($nanotrasen, 15%);
            }
            th {
                background: lighten($nanotrasen, 5%) !important;
            }
            div.tooltiptext {
                border-color: lighten($nanotrasen, 20%);
                background: darken($nanotrasen, 10%);
            }
        }
    }

    .disease-ext {
        .vector {
            font-size: 9pt;
            &:before {
                content: "Vector: ";
                font-weight: bold;
            }
        }
        .source {
            font-size: 9pt;
            &:before {
                content: "Source: ";
                font-weight: bold;
            }
        }
        .spread {
            font-size: 9pt;
            &:before {
                content: "Spread: ";
                font-weight: bold;
            }
        }
        .description {
            margin: 10pt 0;
            line-height: 1.5em;
        }
        td:nth-child(2) {
            width: 30vw;
            max-width: 300px;
            text-align: center;
        }
    }

    .symptoms-ext {
        .level {
            font-size: 9pt;
            font-weight: bold;
            &:before {
                content: "Level ";
            }
        }
        .description {
            margin: 10pt 0;
            line-height: 1.5em;
        }
        .stats {
            width: 100%;
            border: 2px solid $nanotrasen;
            th {
                text-align: right;
                padding: 3px 6px;
            }
            td {
                padding: 3px 6px;
                text-align: center;
            }
        }
        .thresholds {
            white-space: nowrap;
            margin: 0;
            padding: 0;
            list-style-type: none;
            span {
                cursor: help;
            }
        }
    }
}
