#Welcome {
    display: flex;
    flex-direction: column;
    &.center {
        align-items: center;
        justify-content: center;
    }
    &:not(.center) {
        header {
            margin-top: 20px;
        }
    }
    font-size: 12pt;
    line-height: 1.4em;
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20pt;
        .icon {
            max-width: 25vw;
            width: 200px;
            margin-right: 20px;
        }
        .type {
            max-width: 50vw;
            width: 400px;
        }
    }

    .features {
        width: 100%;
        opacity: 0;
        display: none;
        transition: all 200ms;
    }

    .maxw {
        margin: 0 auto;
        max-width: 960px;
        text-align: left;
    }

    h3 {
        font-size: 15pt;
    }

    h3.nobg {
        background: transparent;
        margin-bottom: 0;
        padding-bottom: 0;
        position: relative;
        z-index: 2;
    }

    code {
        display: inline-block;
        background-color: #222;
        border-radius: 3px;
        padding: 2px 5px;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        img {
            margin: 10px;
        }
    }
}
