#Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12pt;
    line-height: 1.4em;
    padding: 10pt;
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20pt;
        .icon {
            max-width: 25vw;
            width: 200px;
            margin-right: 20px;
        }
        .type {
            max-width: 50vw;
            width: 400px;
        }
    }
    p,
    ul {
        max-width: 960px;
    }
}
